// Background color
//---------------------------------

$background-color: #ffffff;

// Text color
//---------------------------------

$text-color-white: #ffffff;
$text-color-black: #000000;

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 767px;
$viewport--lg: 1023px;
$viewport--xl: 1399px;

// Animation
//---------------------------------

$transition-settings: 0.3s ease;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
